[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gitpython = "*"
ipython = "*"
crayons = "*"
click = "*"
giturlparse = {git = "https://github.com/nephila/giturlparse.git"}
docker = "*"
numpy = "*"
halo = "*"
click-tools = {git = "https://github.com/kennethreitz/click-tools.git"}
fuzzywuzzy = "*"
python-levenshtein = "*"


[dev-packages]



[requires]

python_version = "3.6"
