[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gitpython = "*"
ipython = "*"
crayons = "*"
click = "*"
giturlparse = {git = "https://github.com/nephila/giturlparse.git"}


[dev-packages]



[requires]

python_version = "3.6"
